
body.home-guest-page {

  & > .navbar {

    .navbar-nav {

      &#leftNav {
        color: #0477BF;

        a {
          color: #0477BF;
        }
      }

      &#rightNav {
        color: #FFF;

        a {
          color: #FFF;
        }
      }


    }

  }

  & > section {

    &#leftSection {
      background-color: white;
      color: black;
    }

    &#rightSection {
      background-color: #0477BF;
      color: white;
    }

  }

}