.navbar {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999999;


  .navbar-nav {

    $width: 50vw;
    $margin: 1rem;


    font-weight: bold;

    position: fixed;
    top: 0;
    width: calc(#{$width} - #{$margin});

    padding: 0;

    flex-direction: row;

    &#leftNav {

      text-align: left;
      left: $margin;

      .nav-item {

        &:not(:first-of-type) {
          margin-left: .5rem;
        }

      }

    }

    &#rightNav {
      text-align: right;
      justify-content: flex-end;

      right: $margin;

      .nav-item {

        &:not(:last-of-type) {
          margin-right: .5rem;
        }

      }
    }

  }

}